<section class="hero">
  <div class="img__wrapper">
    <img src="perfil.jpg" alt="Juan Daniel Forner" />
  </div>
  <div class="hero__content">
    <h1 class="hero__content--title">Juan Daniel Forner Garriga</h1>
    <p class="hero_content--subtitle">Desarrollador web</p>
    <small class="hero__content--description">
      freestar freestar Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      In dapibus tincidunt viverra. Morbi congue lacus ut elit dapibus
      dignissim. Mauris nulla ante, ultricies quis nulla id, pharetra tincidunt
    </small>
    <app-social-links></app-social-links>
  </div>
</section>
